html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body, h1, h2, h3, h4, h5, h6 {
  font-size: 15px;
  margin: 0;
  line-height: 24px;
}

body {
  margin: 0;
  background-color: #efefef;
}

body, html, #app, #app > div{
  height: 100%;
}

a {
  color: #ff4081;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.m-b-15 {
  margin-bottom: 15px
}

input[name='undefined_filename']{
  display:none;
}

#react-paginate ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

#react-paginate li {
    display: inline-block;
}

#react-paginate .break a {
    cursor: default;
}



#react-paginate .selected a {
    font-weight: bold;
    color: red;
}

#react-paginate ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

#react-paginate li {
    display: inline-block;
    padding: 5;
}

#react-paginate a {
    text-decoration: none;
}
#react-paginate ul li a {
  background: #333;
  padding: 5px 10px;
  color: #fff;
}
#react-paginate ul li {
  margin: 0 2px;
}
#react-paginate ul li:first-child a,
#react-paginate ul li:last-child a {
  padding:0;
  background: transparent;
  color: #333;
}
#react-paginate ul li.disabled a {
  color: rgba(0,0,0,0.4);
}
#react-paginate ul li.active a {
  background: #ff4081;
}
.commentBox{
    float:right;
}
.tableBox{

}

.tableElm ~ div {
  width: 100%;
}
.map-form > .search-input {
  padding: 0px 0px 0px 5px; position: relative; width: 100%; border: none; outline: none; background-color: rgba(0, 0, 0, 0); color: rgb(66, 66, 66); cursor: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); height: 100%;
}