html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body, h1, h2, h3, h4, h5, h6 {
  font-size: 15px;
  margin: 0;
  line-height: 24px;
}

body {
  margin: 0;
  background-color: #efefef;
}

body, html, #app, #app > div{
  height: 100%;
}

a {
  color: #ff4081;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.m-b-15 {
  margin-bottom: 15px
}

input[name='undefined_filename']{
  display:none;
}

#react-paginate ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

#react-paginate li {
    display: inline-block;
}

#react-paginate .break a {
    cursor: default;
}



#react-paginate .selected a {
    font-weight: bold;
    color: red;
}

#react-paginate ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

#react-paginate li {
    display: inline-block;
    padding: 5;
}

#react-paginate a {
    text-decoration: none;
}
